/*Mobile First*/
input {
  padding: 10px 0;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Estilo para telas maiores */
@media (min-width: 768px) {
  input {
    max-width: 400px;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  input {
    max-width: 600px; 
  }
}
